/* --------------------------------
            HEADER
-------------------------------- */
.welcame {
    h1 {
        span {
            color: $h_1;
        }
    }

    h3 {
        font-size: 40px;
        span {
            color: $h_1;
        }
    }
    
    p {font-size: 35px;}
    
    p {
        span {
            color: $h_1;
        }
    }



}